extends layout

block content
  div.container
    p
    | If you are interested in playing with Mamabird or getting in touch with the captains and coaches please contact them at 
    a(href="mailto:mamabird-captains@lists.colorado.edu") mamabird-captains@lists.colorado.edu
    | . For anything web related please contact 
    a(href="mailto:bubernak@colorado.edu") bubernak@colorado.edu
    |.