div
  h1 Mamabird
  h2 University of Colorado Mens Ultimate Team
div
  //img(src='/images/yellowbird.png')
ul.navbar
  li
    a(href='/') HOME
  li
    a(href='/roster') ROSTER
  li
    a(href='/schedule') SCHEDULE
  li
    a(href='/merch') MERCH
  li
    a(href='/media') MEDIA
  li
    a(href='/info') INFO
br.clear
hr

