extends layout

block content
  div.postList.container
    - var posts = getPosts(0,5)
    - var page  = 1
    - each post in posts
      include postSnippet
    include pagination
block scripts
  link(rel='stylesheet', href='/stylesheets/blog.css')
