extends layout

block content
  div.container
    p
    | If you are interested in playing with Mamabird or getting in touch with the captains and coaches please contact them at 
    a(href="mailto:mamabird-captains@lists.colorado.edu") mamabird-captains@lists.colorado.edu
    | . For anything web related please contact 
    a(href="mailto:bubernak@colorado.edu") bubernak@colorado.edu
    |.
    p
      a(href='https://www.facebook.com/pages/University-of-Colorado-Mamabird/361160030582581', target='_blank')
        img.socialIcons(src='/images/social/facebook.png')
      a(href='http://twitter.com/cumamabird', target='_blank')
        img.socialIcons(src='/images/social/twitter.png')
      a(href='http://vimeo.com/search?q=mamabird', target='_blank')
        img.socialIcons(src='/images/social/vimeo.png')
      a(href='https://www.youtube.com/channel/UCATRUV32kKXzsLUQvxScCjg', target='_blank')
        img.socialIcons(src='/images/social/youtube.png')
block scripts
  link(rel='stylesheet', href='/stylesheets/info.css')