doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/shared.css')
  body
    #header
      include header
    #content
      block content
    #footer
      include footer
    block scripts