doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #content
      h1 Mamabird
      h2 University of Colorado Mens Ultimate Team
      include navbar
      block content
      include footer
    block scripts