doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      h1 Mamabird
      h2 University of Colorado Mens Ultimate Team
      include navbar
    #content
      block content
    #footer
      include footer
    block scripts