ul.navbar
  li
    a(href='/') HOME
  li
    a(href='/roster') ROSTER
  li
    a(href='/schedule') SCHEDULE
  li
    a(href='/alumni') ALUMNI
  li
    a(href='/media') MEDIA
  li
    a(href='/contact') CONTACT
br.clear
