extends layout

block content
  #years
    ul.roster.years
      - for (var y in years) {
        - if (years[y] == year) {
          li
          a.selected(href='/roster?year='+years[y])=years[y]
        - }
        - else {
          li
          a(href='/roster?year='+years[y])=years[y]
        - }
      - }
  #players
    ul.roster.players
      - for (var p in players) {
        - var player = players[p];
        - var text = player.Number + '\t' + player.Name + '\t' + player.Year;
        li= text
      - }
    

