.roster
  list-style-type none
  margin-left auto
  margin-right auto
  padding-left 0
  padding-right 0
  display block
#years
  clear both
.years li
  display inline
  margin: .5em
  font-weight bold
.players li
  width 100%
  margin: .5em
.roster a
  color #c8c8c8
a.selected
  color #ffd800
.roster a:hover
  color #ffd800
.small
  display inline-block
  width 4em
.medium
  display inline-block
  width 7em
.large
  display inline-block
  width 11em
.column
  color #ffd800
.captain
  color #ffd800
