body
  padding 50px
  font 14px Helvetica, sans-serif
  background-color #272B30
  color #c8c8c8
  margin auto
  width 66em
.container
  margin-top 2em
  margin-bottom 2em
#content
  //min-height 40em
a
  text-decoration none
  color #ffd800
h1
  color #ffd800
  font-size 60px
  font-weight 600
  margin: 0
h2
  font-size 18px
  font-weight 200
  margin: 0
hr
  border-color #ffd800


//navbar styling
.navbar
  width 100%
  list-style-type none
  margin 0
  padding 0

.navbar li
  margin: .5em
  float left
  width 10em
  background-color #ffd800

.navbar a
  color #272B30
  display block
  text-align center
  font-weight bold

.clear 
  clear:both;
  line-height:0;

//roster styling
.roster.container
  width auto
.roster
  list-style-type none
  margin-left auto
  margin-right auto
  padding-left 0
  padding-right 0
  display block
#years
  clear both
.years li
  display inline
  margin: .5em
.players li
  width 100%
  margin: .5em
.roster a
  color #c8c8c8
  font-weight bold
a.selected
  color #ffd800
  font-weight bold
.roster a:hover
  color #ffd800
.small
  display inline-block
  width 4em
.medium
  display inline-block
  width 7em
.large
  display inline-block
  width 11em
.column
  color #ffd800

//blog post styleing
.blog.date
  font-style italic
  font-size small
ul.blog
  padding 0em
li.blog 
  display inline-block
  list-style-type none

#footer
  width 100%
  margin auto
  font-size small  
  text-align center