/****** Object:  Table [dbo].[Person]    Script Date: 3/2/2014 7:44:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Height] [nvarchar](10) NULL,
	[Weight] [nvarchar](10) NULL,
	[Hometown] [nvarchar](50) NULL,
	[HighSchool] [nvarchar](50) NULL,
	[Major] [nvarchar](50) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Player]    Script Date: 3/2/2014 7:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PersonId] [bigint] NOT NULL,
	[TeamId] [bigint] NOT NULL,
	[Year] [nvarchar](10) NULL,
	[Experience] [int] NULL,
	[Number] [int] NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
/****** Object:  Table [dbo].[Team]    Script Date: 3/2/2014 7:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF)
)

GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [FirstName], [LastName], [Height], [Weight], [Hometown], [HighSchool], [Major]) VALUES (1, N'Pawel', N'Janas', N'5''10"', N'165', N'Zielona Gora, Poland', N'Boulder High School', N'Applied Math')
INSERT [dbo].[Person] ([Id], [FirstName], [LastName], [Height], [Weight], [Hometown], [HighSchool], [Major]) VALUES (2, N'Mark', N'Rauls', N'5''6"', N'135', N'Atlanta, Georgia', N'East High School', N'MCDB')
INSERT [dbo].[Person] ([Id], [FirstName], [LastName], [Height], [Weight], [Hometown], [HighSchool], [Major]) VALUES (3, N'Stanley', N'Peterson', N'6''1"', N'165', N'Gig Harbor, Washington', N'Charles Wright Academy', N'Economics')
SET IDENTITY_INSERT [dbo].[Person] OFF
SET IDENTITY_INSERT [dbo].[Player] ON 

INSERT [dbo].[Player] ([Id], [PersonId], [TeamId], [Year], [Experience], [Number]) VALUES (1, 1, 1, N'Junior', 3, 8)
INSERT [dbo].[Player] ([Id], [PersonId], [TeamId], [Year], [Experience], [Number]) VALUES (2, 2, 1, N'Sophomore', 2, 0)
INSERT [dbo].[Player] ([Id], [PersonId], [TeamId], [Year], [Experience], [Number]) VALUES (3, 3, 1, N'Junior', 3, 26)
SET IDENTITY_INSERT [dbo].[Player] OFF
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([Id], [Year]) VALUES (1, 2014)
INSERT [dbo].[Team] ([Id], [Year]) VALUES (2, 2013)
INSERT [dbo].[Team] ([Id], [Year]) VALUES (3, 2012)
SET IDENTITY_INSERT [dbo].[Team] OFF
/****** Object:  StoredProcedure [dbo].[Get_Players]    Script Date: 3/2/2014 7:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Players]
	@Year [nvarchar](8)
WITH EXECUTE AS CALLER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT 
		P.Number, 
		(PE.FirstName + ' ' + PE.LastName) AS Name,
		P.Year,
		P.Experience,
		PE.Major,
		PE.Height,
		PE.Weight,
		PE.HighSchool,
		PE.Hometown  
	FROM 
	Team AS T 
	JOIN Player AS P ON P.TeamId = T.Id
	JOIN Person AS PE ON PE.Id = P.PersonId 
	WHERE T.Year = @Year
	ORDER BY P.Number
END

GO
/****** Object:  StoredProcedure [dbo].[Get_Teams]    Script Date: 3/2/2014 7:44:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Teams]
WITH EXECUTE AS CALLER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT Year FROM Team
END

GO
